<!doctype html>
<html lang="{{ site.html_loc }}">
{% include 'overall/html-header.twig' %}
<body class="{{ body_classes }}">
{% include 'overall/header.twig' %}
<main>
{% block base %}{% endblock %}
</main>
{% include 'overall/footer.twig' %}
{% include 'overall/html-footer.twig' %}
{% include 'overall/mobile-nav.twig' %}
{% include 'overall/cookie.twig' %}
</body>
</html>
