<!doctype html>
<html lang="{{ site.html_loc }}">
{% include 'overall/html-header.twig' %}
<body class="{{ body_classes }}">
<main>
{% block base %}{% endblock %}
</main>
{% include 'overall/html-footer.twig' %}
</body>
</html>
