<div class="cookiePopupWrapper">
    <div class="cookiePopup">
        <p class="title">
            <svg>
                <use href="{{ svg_sprite }}#cookie-icon"></use>
            </svg>
            <span>This site uses cookies</span>
        </p>
        <div class="cls">
            <div class="message">
                <input type="checkbox" id="cookie_text_toggle" hidden>
                <div class="toggledContent">
                    <label class="button" for="cookie_text_toggle">Tell me more about cookies</label>
                    <div class="typo">
                        We use cookies to personalise content and ads, to provide social media features and to analyse our traffic. We also share information about your use of our site with our social media, advertising and analytics partners who may combine it with other information that you've provided to them or that they've collected from your use of their services. By continuing to use our site, you agree to the use of cookies and accept our Privacy Policy and Terms of Use.
                    </div>
                </div>
            </div>
            <button class="accept btn primary" type="button">OK, I understand</button>
        </div>
    </div>
</div>
