<nav class="mobile-nav">
    <ul class="menu">
        <li class="menu-item"><a href="#">About</a></li>
        <li class="menu-item"><a href="#">Services</a></li>
        <li class="menu-item"><a href="#">Contact</a></li>
    </ul>
</nav>
