{% extends "overall/base-clean.twig" %}

{% block base %}

    <p>404</p>

{#    <a class="logo scroll-show" href="{{ site.url }}">{{ site.name }}</a>#}

{#    <div class="cols">#}
{#        <div class="col">#}

{#            <p class="code scroll-show">404</p>#}

{#            <h1 class="title scroll-show">Oops! Something went wrong</h1>#}

{#            <div class="typo scroll-show">#}
{#                <p>It appears you've stumbled into the digital unknown – the page you're after seems to be playing hide-and-seek, but worry not, we're hot on its trail!</p>#}
{#            </div>#}

{#            <p class="overallButton red-border rounded centered scroll-show">#}
{#                <a href="{{ site.url }}">#}
{#                    <span>Back to home page</span>#}
{#                </a>#}
{#            </p>#}

{#        </div>#}
{#        <div class="col">#}
{#            <figure class="applique bg-404 scroll-show"></figure>#}
{#            <figure class="applique not-found scroll-show"></figure>#}
{#            <figure class="applique boy-404 scroll-show"></figure>#}
{#            <figure class="applique girl-404 scroll-show"></figure>#}
{#        </div>#}
{#    </div>#}

{#    <figure class="cloud cloud-1 scroll-show"></figure>#}
{#    <figure class="cloud cloud-2 scroll-show"></figure>#}
{#    <figure class="cloud cloud-3 scroll-show"></figure>#}
{#    <figure class="cloud cloud-4 scroll-show"></figure>#}

{% endblock %}
