{% extends "overall/base.twig" %}

{% block base %}

<section class="page-protected">
    <div class="page-protected__inner">
        <span class="page-protected__icon">
            <svg width="64" height="64"><use xlink:href="{{ svg_sprite }}#lock"></use></svg>
        </span>
        <h1 class="page-protected__title">Protected Page</h1>
        <p class="page-protected__text">This page is password protected. Please enter your password below to continue.</p>
        <form class="page-protected__form" method="post" action="">
            <input type="password"
                   name="post_password"
                   class="page-protected__input"
                   placeholder="Enter password"
                   required>
            <div class="page-protected__actions">
                <a href="/" class="btn secondary">Back to Home</a>
                <button type="submit" class="btn primary">Submit</button>
            </div>
        </form>
    </div>
</section>

{% endblock %}
